<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">  <!-- Page encoding -->
    <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- Default scale for mobile devices -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shopping list</title>  <!-- Page title -->

    <!-- Import Twitter Bootstrap stylesheet -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Our custom styles -->
    <style type="text/css">
        .shop-list .actions {    /* select shop-list childs with class actions (edit and delete links) */
            position: absolute;  /* detach positioning from text */
            color: #999;         /* grey text between links */
            right: 1em;          /* leave 1em of whitespace at right edge */
        }
        .delete-all {            /* select link with class delete-all */
            float: right;        /* datach positioning using flow blocks */
            margin-right: 1em;   /* leave 1em of whitespace at right edge */
        }
    </style>
</head>

<body>

<!-- Global container, limit with 600px in "desktop pixels" -->
<div class="container" style="max-width: 600px;">
    <h2>Shopping list</h2>

    <!-- If not logged in, let template engine to render welcome block -->
    {% if not logged_in %}
    <!-- Welcome block -->
    <p>Welcome to the best premium shopping list app ever. Period.</p>
    <!-- Login button -->
    <p><a href="{{ login_url }}" class="btn btn-primary">Log in with Google account</a></p>
    {% else %}
    <!-- Enable full shopping list experience if logged in -->
    <!-- Greeting and logout link -->
    <p>Logged in as {{ user_email }} (<a href="{{ logout_url }}">Sign out</a>)</p>
    <!-- Form to add new item, make 1em marging on top and bottom -->
    <form id="shop-form" method="POST" style="margin-top:1em; margin-bottom:1em;">
        <!-- Style to group to merge input field and button -->
        <div class="input-group">
            <!-- Text input field -->
            <input name="text" type="text" class="form-control" placeholder="Something to buy" maxlength="50" autofocus/>
            <div class="input-group-btn">
                <!-- Add button -->
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
    {% endif %}

    <!-- Our shopping list, to be populated from Java Script -->
    <ul class="list-group shop-list">
    </ul>

    <!-- For style reasons show on center only when logged in and we have erase button at the right -->
    <p {% if logged_in %} style="text-align: center" {% endif %}>
        <!-- Visit counter -->
        <span style="color: #999">Visited {{ visit_counter }} times.</span>
        <!-- Erase button -->
        <a href='#' class="delete-all">Erase List</a>
    </p>
</div>

<!-- Import of jQuery library, which is used for HTML operations, AJAX, etc. Integrity helps to ensure safe origin -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- Our Java Script code -->
<script>
    // Add item to the HTML
    function add_item(id, text) {
        $(".shop-list").prepend(  // Find ul with shop-list class and put this HTML in the begining of contents
            "<li class='list-group-item' data-id='" + id + "'>" +  // Create list item with |data-id| for item lookup
            "<div class='static'>" +  // Div with static text of item and action links
            "<span class='text'>" + text + "</span>" +  // Text of the item
            "<span class='actions'><a href='#' class='act-edit'>Edit</a> | <a href='#' class='act-delete'>Delete</a></span>" +  // Links to edit and delate the item
            "</div>" +  // End of static div
            "<form class='edit-form' method='POST' style='display: none'>" +  // Form to edit the item, hidden by default
            "<div class='input-group'>" +  // Style group to merge input field and button
            "<input name='text' type='text' class='form-control edit-text' maxlength='50'/>" +  // Input field to edit the item
            "<div class='input-group-btn'>" +  // Style group for save button
            "<button type='submit' class='btn btn-primary'>Save</button>" +  // Save button
            "</div>" +
            "</div>" +
            "</form>" +
            "</li>"
        );
    }

    // Switch list item to edit box and back
    // Returns text of the item
    function toggle_edit(list_item) {
        var static_block = list_item.find(".static");  // Find div with static text and action links
        var edit_block = list_item.find(".edit-form");  // Find form to edit an item
        var text;
        // A bit hacky way to figure out current state, so if edit form is hidden, show it and vice versa
        if (edit_block.css("display") == "none") {
            // Switch static to edit mode
            text = static_block.find(".text").text();  // Get the text from span element
            static_block.css("display", "none");  // Hide static block
            edit_block.css("display", "block");  // Show edit form
            edit_block.find(".edit-text").val(text);  // Copy text to edit form
        } else {
            // Switch edit mode to static
            text = edit_block.find(".edit-text").val();  // Get the text from form input
            edit_block.css("display", "none");  // Hide edit form
            static_block.css("display", "block");  // Show static block
            static_block.find(".text").text(text);  // Copy text from edit form
        }
        return text;  // Return captured text
    }

    // Event handler for submit action of form to create a new item
    $("#shop-form").submit(function(event) {  // New item
        event.preventDefault();  // Don't submit the form
        var input = $(this).find("input[name='text']");  // Find input field
        var text = input.val();  // Get text from input field
        input.val("");  // Clear input field
        if (text == "")  // Don't submit empty text
            return;

        // Call web server asynchronously and provide the text
        $.post("/create_item", {text: text}).done(function(response) {
            // Once succeeded, make this item to appear in HTML
            // Response contains id return by web server
            add_item(response["id"], text);
        });
    });

    // Event handler for edit action (link with class act-edit)
    $(".shop-list").on("click", ".act-edit", function() {
        // Edit item
        var list_item = $(this).parent().parent().parent();  // Get parent li element
        toggle_edit(list_item);  // Switch to edit mode
        return false;  // Prevent link action
    });

    // Event handler for submit action of form (of class edit-form) to edit existing item
    $(".shop-list").on("submit", ".edit-form", function(event) {  // Save item
        event.preventDefault();  // Don't submit the form
        var list_item = $(this).parent();  // Get parent li element
        var id = list_item.attr("data-id");  // Get id from this element
        var text = toggle_edit(list_item);  // Switch back from edit mode and get new text
        $.post("/edit_item", {id: id, text: text});  // Send id and text to web server
    });

    // Event handler for delete action (link with class act-delete)
    $(".shop-list").on("click", ".act-delete", function() {  // Delete item
        var list_item = $(this).parent().parent().parent();  // Get parent li element
        var id = list_item.attr("data-id");  // Get id from this element
        list_item.remove();  // Remove the item from HTML
        $.post("/delete_item", {id: id});  // Notify web server that item has been deleted
        return false;  // Prevent link action
    });

    // Click handler which deletes entire list
    $(".delete-all").click(function() {  // Erase list
        $(".shop-list li").remove();  // Remove everything from HTML
        $.post("/delete_all", {});  // Clear list on web server side
        return false;  // Prevent link action
    });

    // This function will be called once page loaded and all event handler are in place
    // Query web server via AJAX to get initial list of items
    $.getJSON("/get_items", function(response) {
        // Once succeeded, add each item to HTML
        response.forEach(function(item) {
            add_item(item["id"], item["text"]);
        });
    });
</script>

</body>
</html>
