<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shopping list</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        .shop-list a {
            position: absolute;
            right: 1em;
        }
        .delete-all {
            float: right;
            margin-right: 1em;
        }
    </style>
</head>

<body>

<div class="container" style="max-width: 600px;">
    <h2>Shopping list</h2>

    {% if not logged_in %}
    <p>Welcome to the best ever premium shopping list app. Period.</p>
    <p><a href="{{ login_url }}" class="btn btn-primary">Log in with Google account</a>
    {% else %}
    <p>Logged in as {{ user_email }} (<a href="{{ logout_url }}">Sign out</a>)</p>
    <form id="shop-form" method="POST" style="margin-top:1em; margin-bottom:1em;">
        <div class="input-group">
            <input name="text" type="text" class="form-control" placeholder="Something to buy" maxlength="50" autofocus>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
    {% endif %}

    <ul class="list-group shop-list">
    </ul>

    <p {% if logged_in %} style="text-align: center" {% endif %}>
        <span style="color: #999">Visited {{ visit_counter }} times.</span>
        <a href='#' class="delete-all">Erase List</a>
    </p>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script>
    function add_item(id, text) {
        $(".shop-list").prepend("<li class='list-group-item' data-id='" + id + "'><span>" + text + "</span><a href='#'>Delete</a></li>");
    }

    $("#shop-form").submit(function(event) {
        // New item
        event.preventDefault();  // Don't submit the form
        var input = $(this).find("input[name='text']");
        var text = input.val();
        input.val("");
        if (text == "")
            return;

        $.post("/create_item", {text: text}).done(function(response) {
            add_item(response["id"], text);
        });
    });

    $(".shop-list").on("click", "a", function() {
        // Delete item
        var id = $(this).parent().attr("data-id");
        $(this).parent().remove();
        $.post("/delete_item", {id: id});
        return false;  // Prevent link action
    });

    $(".delete-all").click(function() {
        // Erase list
        $(".shop-list li").remove();
        $.post("/delete_all", {});
        return false;  // Prevent link action
    });

    $.getJSON("/get_items", function(response) {
        response.forEach(function(item) {
            add_item(item["id"], item["text"]);
        });
    });
</script>

</body>
</html>
